/* Main apge CSS */

.App {
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
}

.App-first-div {
    width: 100dvw;
    height: 100dvh;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App-first-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.App-first-div-image {
    width: 30dvw;
    min-width: 300px;
    max-width: 700px;
    margin: 35px 0px;
    animation: riveAppear 1.5s forwards;
}

.App-text {
    font-family: f-bold;
    color: #1a1a1a;
    font-size: 52px;
    width: 500px;
    text-align: left;
    animation: text1Appear 1.5s forwards;
    padding: 20px;
    margin: 0;
}

.App-text-underline-image {
    position: absolute;
    width: 260px;
    right: 200px;
    opacity: .8;
    bottom: 15px;
    transform: rotate(8deg);
}

.App-subtext {
    font-family: f-light;
    font-size: 22px;
    color: #1a1a1a;
    animation: riveAppear 2s forwards;
}

.App-subtext-highlighted {
    font-family: f-bold;
    text-decoration: underline;
}

.App-rive-container {
    animation: riveAppear 1.5s forwards;
}

@keyframes riveAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text1Appear {
    0% {
        margin-left: 0px;
        opacity: 0;
    }

    100% {
        margin-left: 50px;
        opacity: 1;
    }
}

.App-rive {
    font-family: f-logo;
    color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.App-rive-underline {
    width: 200px;
    height: 2px;
    background-color: #1a1a1a;
    margin: 10px 0px;
}

.App-scroll-icon {
    position: absolute;
    font-size: 22px;
    animation: animateScrollIcon 1.5s infinite;
}

@keyframes animateScrollIcon {
    0% {
        bottom: 40px;
    }

    50% {
        bottom: 30px;
    }

    100% {
        bottom: 40px;
    }
}

/* Header CSS */

.Header {
    width: 100dvw;
    position: fixed;
    top: 0;
    padding: 15px 0px;
    display: flex;
    background-color: #f6f6f6;
    z-index: 999;
}

.Header-logo {
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
}

.Header-options-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    gap: 30px;
}

.Header-option {
    font-family: f-med;
    font-size: 16px;
    transition: .1s;
    border-radius: 5px;
    padding: 5px 10px;
}

.Header-option:hover {
    background-color: #e2e1e177;
}



.Header-buttons-container {
    right: 30px;
    position: absolute;
}

.Header-button-signup {
    justify-self: flex-end;
    background-color: #1a1a1a;
    font-family: f-reg;
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    transition: .2s;
    color: #f6f6f6;
    cursor: pointer;
}

.Header-button-login {
    background-color: transparent;
    border: none;
    font-family: f-reg;
    color: #1a1a1a;
    font-size: 16px;
    transition: .2s;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 1px solid #1a1a1a;
}

.Header-button-login:hover,
.Header-button-signup:hover {
    opacity: .85;
}