/* General variables */

html body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f6f6f6;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

img {
  user-select: none;
}

/* Dark - Light mode css*/

:root {
  --bg: #f6f6f6;
  --bg-dimed: #c0c0c030;
  --text: #1a1a1a;
  --accent: #4a35aa;
  --accent-active: #90909030;
  --borders: #e0dddd;
  --input-fill: transparent;
  --input-borders: rgb(163, 163, 163);
}

[data-theme='dark'] {
  --bg: #1b1b1d;
  --bg-dimed: #40404456;
  --text: #f9f9f9;
  --accent: #7d68dd;
  --accent-active: #50505030;
  --borders: #434343;
  --input-fill: rgba(71, 71, 71, 0.2);
  --input-borders: rgb(71, 71, 71);

}

/* Fonts */

@font-face {
  font-family: f-logo;
  src: url('./assets/fonts/ShipporiAntiqueB1-Regular.ttf');
}

@font-face {
  font-family: f-reg;
  src: url('./assets/fonts/figtree/Figtree-Regular.ttf');
}

@font-face {
  font-family: f-light;
  src: url('./assets/fonts/figtree/Figtree-Light.ttf');
}

@font-face {
  font-family: f-lightI;
  src: url('./assets/fonts/figtree/Figtree-LightItalic.ttf');
}

@font-face {
  font-family: f-med;
  src: url('./assets/fonts/figtree/Figtree-Medium.ttf');
}


@font-face {
  font-family: f-bold;
  src: url('./assets/fonts/figtree/Figtree-bold.ttf');
}