/* General variables */

html body { margin: 0 !important; padding: 0 !important; }
#root { padding: 0 !important; margin: 0 !important; max-width: none !important; }

/* Fonts */

@font-face {
  font-family: f-logo;
  src: url('./assets/fonts/ShipporiAntiqueB1-Regular.ttf');
}

@font-face {
  font-family: f-reg;
  src: url('./assets/fonts/figtree/Figtree-Regular.ttf');
}


@font-face {
  font-family: f-light;
  src: url('./assets/fonts/figtree/Figtree-Light.ttf');
}


@font-face {
  font-family: f-med;
  src: url('./assets/fonts/figtree/Figtree-Medium.ttf');
}


@font-face {
  font-family: f-bold;
  src: url('./assets/fonts/figtree/Figtree-bold.ttf');
}